Repository paritytech/substrate, changes with the owners that docs/CODEOWNERS names for each.
All owners: @paritytech/ci, @pepyakin, @tomusdrw, @andresilva, @sorpaas, @athei, @kianenigma, @shawntabrizi

scale-info dev dependency
  frame/session/benchmarking/Cargo.toml
Owners: none

CI: build-rust-doc should not depend on the longest job
  .gitlab-ci.yml
Owners: @paritytech/ci

option A: primitive/all crate and pallet/all crate
  Cargo.lock
  Cargo.toml
  frame/all/Cargo.toml
  frame/all/src/lib.rs
  primitives/all/Cargo.toml
  primitives/all/src/lib.rs
Owners: none

CI: publish-docker-substrate should not depend on the longest job
  .gitlab-ci.yml
Owners: @paritytech/ci

Option B
  Cargo.toml
  frame/Cargo.toml
  frame/all/Cargo.toml
  frame/src/lib.rs
  primitives/Cargo.toml
  primitives/all/Cargo.toml
  primitives/src/lib.rs
Owners: none

CI: it's OK not to publish-docker-subkey when the build stage failed
  .gitlab-ci.yml
Owners: @paritytech/ci

CI: it's OK not to publish-s3-release when the build stage failed
  .gitlab-ci.yml
Owners: @paritytech/ci

done
  frame/support/src/weights.rs
Owners: @shawntabrizi

CI: it's OK not to publish-s3-doc when the build stage failed
  .gitlab-ci.yml
Owners: @paritytech/ci

CI: try if simnet gets an artifact from publish-docker-substrate
  .gitlab-ci.yml
Owners: @paritytech/ci

cargo fmt
  primitives/src/lib.rs
Owners: none

Decouples light-sync state from chain spec (#9491)
  Cargo.lock
  bin/node-template/node/src/service.rs
  bin/node/cli/Cargo.toml
  bin/node/cli/src/chain_spec.rs
  bin/node/cli/src/service.rs
  bin/node/rpc/src/lib.rs
  client/chain-spec/Cargo.toml
  client/chain-spec/derive/src/impls.rs
  client/chain-spec/src/chain_spec.rs
  client/chain-spec/src/extension.rs
  client/chain-spec/src/lib.rs
  client/consensus/babe/src/lib.rs
  client/service/src/builder.rs
  client/service/src/lib.rs
  client/sync-state-rpc/Cargo.toml
  client/sync-state-rpc/src/lib.rs
  test-utils/test-runner/src/client.rs
Owners: @andresilva

cargo fmt
  frame/src/lib.rs
Owners: none

implement "auto" database backend in client/db, in progress, #9201
  Cargo.lock
  client/db/Cargo.toml
  client/db/src/lib.rs
  client/db/src/parity_db.rs
  client/db/src/upgrade.rs
  client/db/src/utils.rs
  client/service/src/config.rs
  client/service/src/lib.rs
Owners: none

Fix test error
  frame/support/test/tests/pallet.rs
Owners: none

experiments
  Cargo.lock
  Cargo.toml
  client/basic-authorship/Cargo.toml
  client/block-builder/Cargo.toml
  client/consensus/babe/Cargo.toml
  client/service/Cargo.toml
  client/shuffler/Cargo.toml
  frame/authorship/Cargo.toml
  frame/executive/Cargo.toml
  frame/random-seed/Cargo.toml
  frame/random-seed/runtime-api/Cargo.toml
  frame/timestamp/Cargo.toml
  frame/treasury/Cargo.toml
  primitives/extrinsic-info-runtime-api/Cargo.toml
  primitives/ignore-tx/Cargo.toml
Owners: @andresilva

move fn supports_ref_counting from DatabaseSource enum to Database trait to make it work correctly for all types of dbs
  client/db/src/lib.rs
  client/db/src/parity_db.rs
  client/db/src/upgrade.rs
  primitives/database/src/lib.rs
Owners: none

Split native executor stuff from wasm executor stuff
  bin/node/executor/benches/bench.rs
  client/api/src/call_executor.rs
  client/executor/src/lib.rs
  client/executor/src/native_executor.rs
  client/service/src/builder.rs
  client/service/src/client/call_executor.rs
  client/service/src/client/client.rs
  client/service/src/client/light.rs
  client/service/src/client/wasm_override.rs
  client/service/src/client/wasm_substitutes.rs
  primitives/consensus/common/src/lib.rs
  primitives/version/src/lib.rs
Owners: none

Remove `native_runtime_version` in places
  client/api/src/call_executor.rs
  client/light/src/call_executor.rs
  client/service/test/src/client/light.rs
Owners: none

Fix warning
  client/service/src/client/call_executor.rs
Owners: none

Fix test warning
  client/service/test/src/client/light.rs
Owners: none

CI: don't run some jobs from the upstream pipeline
  .gitlab-ci.yml
Owners: @paritytech/ci

update kvdb_rocksdb to 0.13 and use it's new config feature to properly auto start existing database
  Cargo.lock
  bin/node/bench/Cargo.toml
  client/db/Cargo.toml
  client/db/src/utils.rs
Owners: none

push a lot of changes
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/mock.rs
  frame/bags-list/src/tests.rs
  frame/election-provider-support/src/lib.rs
  frame/staking/src/benchmarking.rs
  frame/staking/src/lib.rs
  frame/staking/src/mock.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/pallet/mod.rs
  frame/staking/src/testing_utils.rs
  frame/staking/src/tests.rs
Owners: @kianenigma

companion_build: enable runtime-benchmarks feature
  .maintain/gitlab/check_polkadot_companion_build.sh
Owners: @paritytech/ci

really good progress
  Cargo.lock
  Cargo.toml
  client/basic-authorship/Cargo.toml
  client/block-builder/Cargo.toml
  client/service/Cargo.toml
  primitives/ignore-tx/Cargo.toml
  test-utils/runtime/src/system.rs
Owners: none

fix compilation problems
  client/network/test/src/lib.rs
  test-utils/runtime/src/system.rs
Owners: none

remove unused events and errors in democracy
  frame/democracy/src/lib.rs
Owners: none

companion_build: enable runtime-benchmarks feature (#9501)
  .maintain/gitlab/check_polkadot_companion_build.sh
Owners: @paritytech/ci

my last changes
  frame/staking/src/mock.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/pallet/mod.rs
  frame/staking/src/tests.rs
Owners: @kianenigma

all bags-list test work; fmt
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/tests.rs
  frame/staking/src/benchmarking.rs
  frame/staking/src/lib.rs
  frame/staking/src/mock.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/pallet/mod.rs
  frame/staking/src/testing_utils.rs
  frame/staking/src/tests.rs
Owners: @kianenigma

Make NextKeys public
  frame/session/src/lib.rs
Owners: none

Beautify some tests
  frame/bags-list/src/tests.rs
Owners: none

Doc comment for bags-list
  frame/bags-list/src/lib.rs
  frame/bags-list/src/tests.rs
Owners: none

Add insert warnings
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
Owners: none

Setup initial benchmark
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/mock.rs
Owners: none

Wire up WeightInfo
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/mock.rs
  frame/bags-list/src/weights.rs
Owners: none

is_terminal wip; everything broken!
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/mock.rs
  frame/bags-list/src/tests.rs
  frame/bags-list/src/weights.rs
Owners: none

Is terminal working
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
Owners: none

add TODOs for remove_node
  frame/bags-list/src/list/mod.rs
Owners: none

docs/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @pepyakin) or email can be used. Keep in mind, that handles might work better because they
#   are more recognizable on GitHub, you can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.maintain/ @paritytech/ci
/.github/ @paritytech/ci
/.gitlab-ci.yml @paritytech/ci

# Sandboxing capability of Substrate Runtime
/primitives/sr-sandbox/ @pepyakin
/primitives/core/src/sandbox.rs @pepyakin

# Offchain
/client/offchain/ @tomusdrw
/primitives/offchain/ @tomusdrw

# GRANDPA, BABE, consensus stuff
/frame/babe/ @andresilva
/frame/grandpa/ @andresilva
/client/finality-grandpa/ @andresilva
/client/consensus/babe/ @andresilva
/client/consensus/slots/ @andresilva
/client/consensus/pow/ @sorpaas
/primitives/consensus/pow/ @sorpaas

# Contracts
/frame/contracts/ @athei

# NPoS and election
/frame/staking/ @kianenigma
/frame/elections/ @kianenigma
/frame/elections-phragmen/ @kianenigma
/primitives/npos-elections/ @kianenigma

# Fixed point arithmetic
/primitives/sp-arithmetic/ @kianenigma

# Transaction weight stuff
/frame/support/src/weights.rs @shawntabrizi
