Repository paritytech/substrate, changes with the owners that docs/CODEOWNERS names for each.
All owners: @paritytech/ci, @pepyakin, @tomusdrw, @andresilva, @sorpaas, @athei, @kianenigma, @shawntabrizi

docs/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @pepyakin) or email can be used. Keep in mind, that handles might work better because they
#   are more recognizable on GitHub, you can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.maintain/ @paritytech/ci
/.github/ @paritytech/ci
/.gitlab-ci.yml @paritytech/ci

# Sandboxing capability of Substrate Runtime
/primitives/sr-sandbox/ @pepyakin
/primitives/core/src/sandbox.rs @pepyakin

# Offchain
/client/offchain/ @tomusdrw
/primitives/offchain/ @tomusdrw

# GRANDPA, BABE, consensus stuff
/frame/babe/ @andresilva
/frame/grandpa/ @andresilva
/client/finality-grandpa/ @andresilva
/client/consensus/babe/ @andresilva
/client/consensus/slots/ @andresilva
/client/consensus/pow/ @sorpaas
/primitives/consensus/pow/ @sorpaas

# Contracts
/frame/contracts/ @athei

# NPoS and election
/frame/staking/ @kianenigma
/frame/elections/ @kianenigma
/frame/elections-phragmen/ @kianenigma
/primitives/npos-elections/ @kianenigma

# Fixed point arithmetic
/primitives/sp-arithmetic/ @kianenigma

# Transaction weight stuff
/frame/support/src/weights.rs @shawntabrizi

clean up remoe_node
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
Owners: none

update reference
  frame/treasury/Cargo.toml
Owners: none

do not patch orml tokens
  Cargo.lock
  Cargo.toml
Owners: none

remove unused events and errors in democracy (#9502)
  frame/democracy/src/lib.rs
Owners: none

Transaction storage guide and fixes
  Cargo.lock
  bin/node/cli/Cargo.toml
  bin/node/cli/src/service.rs
  client/network/src/block_request_handler.rs
  frame/transaction-storage/README.md
  primitives/transaction-storage-proof/src/lib.rs
Owners: none

done (#9494)
  frame/support/src/weights.rs
Owners: @shawntabrizi

Fix all staking tests
  frame/staking/src/pallet/impls.rs
  frame/staking/src/pallet/mod.rs
  frame/staking/src/tests.rs
Owners: @kianenigma

retire VoterBagFor
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/tests.rs
Owners: none

Apply suggestions from code review
  frame/transaction-storage/README.md
Owners: none

Update frame/transaction-storage/README.md
  frame/transaction-storage/README.md
Owners: none

Extended example
  frame/transaction-storage/README.md
Owners: none

expose component information
  frame/benchmarking/src/lib.rs
  frame/benchmarking/src/utils.rs
  utils/frame/benchmarking-cli/src/command.rs
Owners: none

fix test generation
  frame/benchmarking/src/lib.rs
Owners: none

update orml-tokens ref
  frame/treasury/Cargo.toml
Owners: none

commit
  Cargo.lock
  bin/node/runtime/Cargo.toml
  bin/node/runtime/src/lib.rs
  frame/bags-list/Cargo.toml
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/mock.rs
  frame/election-provider-support/src/lib.rs
  frame/staking/src/pallet/impls.rs
Owners: @kianenigma

Storage chain fixes + guide (#9504)
  Cargo.lock
  bin/node/cli/Cargo.toml
  bin/node/cli/src/service.rs
  client/network/src/block_request_handler.rs
  frame/transaction-storage/README.md
  primitives/transaction-storage-proof/src/lib.rs
Owners: none

bring in stashed changes
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/tests.rs
Owners: none

Revert "Option B"
  Cargo.toml
  frame/Cargo.toml
  frame/all/Cargo.toml
  frame/all/src/lib.rs
  primitives/Cargo.toml
  primitives/all/Cargo.toml
  primitives/all/src/lib.rs
Owners: none

save
  frame/bags-list/src/list/mod.rs
Owners: none

bench pipeline works now, but I can't run stuff
  bin/node/runtime/src/lib.rs
  frame/bags-list/Cargo.toml
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/weights.rs
  frame/election-provider-support/src/lib.rs
  frame/staking/Cargo.toml
  frame/staking/src/lib.rs
  frame/staking/src/pallet/impls.rs
Owners: @kianenigma

sabe
  frame/bags-list/src/lib.rs
Owners: none

refactor list benchmarks
  utils/frame/benchmarking-cli/src/command.rs
  utils/frame/benchmarking-cli/src/lib.rs
Owners: none

benchmarks now run, but we have a failure
  bin/node/runtime/src/lib.rs
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/weights.rs
Owners: none

WIP: Wire up make_bags
  Cargo.lock
  Cargo.toml
  bin/node/runtime/bag-thresholds/Cargo.toml
  bin/node/runtime/bag-thresholds/src/main.rs
  bin/node/runtime/voter-bags/src/main.rs
  frame/bags-list/Cargo.toml
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/make_bags.rs
  frame/staking/src/pallet/mod.rs
  frame/staking/src/tests.rs
Owners: @kianenigma

fix private event enum error message
  frame/support/procedural/src/pallet/parse/event.rs
Owners: none

bags-thresholds compiles
  Cargo.lock
  bin/node/runtime/bag-thresholds/Cargo.toml
  bin/node/runtime/bag-thresholds/src/main.rs
  frame/bags-list/Cargo.toml
Owners: none

fmt it properly
  bin/node/testing/src/bench.rs
  client/api/src/call_executor.rs
  client/api/src/execution_extensions.rs
  client/api/src/lib.rs
  client/cli/src/params/import_params.rs
  client/executor/src/native_executor.rs
  client/light/src/call_executor.rs
  client/rpc/src/state/state_full.rs
  client/service/src/builder.rs
  client/service/src/client/call_executor.rs
  client/service/src/client/wasm_override.rs
  client/service/src/config.rs
  client/service/test/src/client/light.rs
  client/service/test/src/client/mod.rs
  frame/system/src/mock.rs
  primitives/runtime-interface/test/src/lib.rs
  primitives/state-machine/src/lib.rs
  test-utils/client/src/lib.rs
  test-utils/test-runner/src/utils.rs
  utils/frame/try-runtime/cli/src/lib.rs
Owners: none

move component selection out of runtime
  frame/benchmarking/src/lib.rs
  frame/benchmarking/src/utils.rs
  utils/frame/benchmarking-cli/src/command.rs
Owners: none

adds composable.finance ss58 registry
  primitives/core/src/crypto.rs
Owners: none

add benchmark verification
  frame/benchmarking/src/lib.rs
  utils/frame/benchmarking-cli/src/command.rs
Owners: none

missing feature
  frame/utility/Cargo.toml
Owners: none

fix compilation errors caused by merge conflicts
  client/service/src/builder.rs
  client/service/src/lib.rs
Owners: none

rustfmt
  bin/node/cli/src/service.rs
  client/rpc-servers/src/lib.rs
  client/rpc-servers/src/middleware.rs
  client/service/src/builder.rs
  client/service/src/lib.rs
  test-utils/test-runner/src/node.rs
  utils/browser/src/lib.rs
Owners: none

Fix most build issues
  frame/bags-list/Cargo.toml
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/mock.rs
  frame/election-provider-support/src/lib.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/pallet/mod.rs
Owners: @kianenigma

This will fix all the tests
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
Owners: none

add internal repeats
  frame/benchmarking/src/lib.rs
  frame/benchmarking/src/utils.rs
  utils/frame/benchmarking-cli/src/command.rs
  utils/frame/benchmarking-cli/src/lib.rs
Owners: none

move bag thresholds to bags-list
  Cargo.toml
  bin/node/runtime/bag-thresholds/Cargo.toml
  frame/bags-list/Cargo.toml
  frame/bags-list/bag-thresholds/Cargo.toml
  frame/bags-list/bag-thresholds/src/main.rs
Owners: none

Move bag-thresholds bin to within pallet-bags
  Cargo.lock
  frame/bags-list/Cargo.toml
  frame/bags-list/bag-thresholds/src/main.rs
  frame/bags-list/src/make_bags.rs
Owners: none

Undo: Keep the PR focused on deps.
  primitives/arithmetic/src/fixed_point.rs
Owners: none

Remove some unnescary TODOs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
Owners: none
