Repository paritytech/substrate, changes with the owners that docs/CODEOWNERS names for each.
All owners: @paritytech/ci, @koute, @paritytech/docs-audit, @paritytech/frame-coders, @jsidorenko, @cheme, @andresilva, @sorpaas, @acatangiu, @athei, @paritytech/staking-core

docs/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @pepyakin) or email can be used. Keep in mind, that handles might work better because they
#   are more recognizable on GitHub, you can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.github/ @paritytech/ci
/.gitlab-ci.yml @paritytech/ci
/scripts/ci/ @paritytech/ci

# WASM executor, low-level client <-> WASM interface and other WASM-related code
/client/allocator/ @koute
/client/executor/ @koute
/primitives/panic-handler/ @koute
/primitives/runtime-interface/ @koute
/primitives/wasm-interface/ @koute
/utils/wasm-builder/ @koute

# Systems-related bits and bobs on the client side
/client/sysinfo/ @koute
/client/tracing/ @koute

# Documentation audit
/primitives/runtime @paritytech/docs-audit
/primitives/arithmetic @paritytech/docs-audit
# /primitives/core (to be added later)
# /primitives/io (to be added later)

# FRAME
/frame/ @paritytech/frame-coders @paritytech/docs-audit
/frame/nfts/ @jsidorenko @paritytech/docs-audit
/frame/state-trie-migration/ @paritytech/frame-coders @cheme
/frame/uniques/ @jsidorenko @paritytech/docs-audit

# GRANDPA, BABE, consensus stuff
/client/consensus/babe/ @andresilva
/client/consensus/grandpa/ @andresilva
/client/consensus/pow/ @sorpaas
/client/consensus/slots/ @andresilva
/frame/babe/ @andresilva
/frame/grandpa/ @andresilva
/primitives/consensus/pow/ @sorpaas

# BEEFY, MMR
/frame/beefy/ @acatangiu
/frame/beefy-mmr/ @acatangiu
/frame/merkle-mountain-range/ @acatangiu
/primitives/merkle-mountain-range/ @acatangiu

# Contracts
/frame/contracts/ @athei @paritytech/docs-audit

# NPoS and election
/frame/election-provider-multi-phase/ @paritytech/staking-core @paritytech/docs-audit
/frame/election-provider-support/ @paritytech/staking-core @paritytech/docs-audit
/frame/elections-phragmen/ @paritytech/staking-core @paritytech/docs-audit
/frame/nomination-pools/ @paritytech/staking-core @paritytech/docs-audit
/frame/staking/ @paritytech/staking-core @paritytech/docs-audit
/primitives/npos-elections/ @paritytech/staking-core @paritytech/docs-audit

FRAME: Pay trait benchmark helper should use asset kind (#14259)
  frame/salary/src/benchmarking.rs
  frame/salary/src/tests.rs
  frame/support/src/traits/tokens/pay.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Update frame/nfts/src/lib.rs
  frame/nfts/src/lib.rs
Owners: @jsidorenko, @paritytech/docs-audit

Set offchain transaction pool in BABE before using it in the runtime
  Cargo.lock
  client/consensus/babe/Cargo.toml
  client/consensus/babe/src/lib.rs
  client/consensus/babe/src/tests.rs
Owners: @andresilva

Fix `reconnect_after_disconnect` test
  client/network/src/protocol/notifications/tests.rs
Owners: none

bounded-collections bump to 0.1.7 (#14255)
  Cargo.lock
  primitives/core/Cargo.toml
Owners: none

[NFTs] Add mint price to the witness object on mint and confirm it (#14257)
  frame/nfts/src/lib.rs
  frame/nfts/src/tests.rs
  frame/nfts/src/types.rs
Owners: @jsidorenko, @paritytech/docs-audit

Improve documentation for `fast-unstake` pallet (#14101)
  Cargo.lock
  frame/fast-unstake/Cargo.toml
  frame/fast-unstake/src/lib.rs
  frame/fast-unstake/src/tests.rs
  frame/fast-unstake/src/types.rs
  frame/support/procedural/src/pallet/expand/call.rs
  frame/support/procedural/src/pallet/expand/config.rs
  frame/support/procedural/src/pallet/expand/doc_only.rs
  frame/support/procedural/src/pallet/expand/error.rs
  frame/support/procedural/src/pallet/expand/event.rs
  frame/support/procedural/src/pallet/expand/mod.rs
  frame/support/procedural/src/pallet/expand/pallet_struct.rs
  frame/support/procedural/src/pallet/expand/storage.rs
  frame/support/src/lib.rs
  frame/support/test/src/lib.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Incorporate `sc-peerset` into `sc-network` (#14236)
  Cargo.lock
  Cargo.toml
  client/network-gossip/Cargo.toml
  client/network-gossip/src/bridge.rs
  client/network-gossip/src/state_machine.rs
  client/network/Cargo.toml
  client/network/common/Cargo.toml
  client/network/common/src/sync.rs
  client/network/common/src/types.rs
  client/network/light/Cargo.toml
  client/network/light/src/light_client_requests/handler.rs
  client/network/src/behaviour.rs
  client/network/src/lib.rs
  client/network/src/peer_store.rs
  client/network/src/peerset.rs
  client/network/src/protocol.rs
  client/network/src/protocol/notifications/behaviour.rs
  client/network/src/protocol/notifications/tests.rs
  client/network/src/protocol_controller.rs
  client/network/src/request_responses.rs
  client/network/src/service.rs
  client/network/src/service/traits.rs
  client/network/statement/Cargo.toml
  client/network/statement/src/lib.rs
  client/network/sync/Cargo.toml
  client/network/sync/src/block_request_handler.rs
  client/network/sync/src/engine.rs
  client/network/sync/src/lib.rs
  client/network/sync/src/service/mock.rs
  client/network/sync/src/service/network.rs
  client/network/sync/src/state_request_handler.rs
  client/network/test/src/peerset.rs
  client/network/transactions/Cargo.toml
  client/network/transactions/src/lib.rs
  client/offchain/Cargo.toml
  client/offchain/src/api.rs
  client/offchain/src/lib.rs
  client/peerset/Cargo.toml
  client/peerset/README.md
Owners: none

Update frame/support/test/tests/pallet_ui.rs
  frame/support/test/tests/pallet_ui.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

update ui tests
  frame/support/test/tests/pallet_ui/trait_invalid_item.stderr
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Addresses review comment
  frame/examples/split/README.md
  frame/support/src/lib.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Adds a couple of UI tests. More to be added
  Cargo.lock
  frame/support/test/Cargo.toml
  frame/support/test/tests/split_ui.rs
  frame/support/test/tests/split_ui/pass/split_valid.rs
  frame/support/test/tests/split_ui/section_not_imported.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Adds err files
  frame/support/test/tests/split_ui.rs
  frame/support/test/tests/split_ui/no_section_found.rs
  frame/support/test/tests/split_ui/no_section_found.stderr
  frame/support/test/tests/split_ui/section_not_imported.stderr
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Adds test for no pallet
  frame/support/procedural/src/lib.rs
  frame/support/test/tests/split_ui/import_without_pallet.rs
  frame/support/test/tests/split_ui/import_without_pallet.stderr
Owners: @paritytech/frame-coders, @paritytech/docs-audit
