Repository paritytech/substrate, changes with the owners that docs/CODEOWNERS names for each.
All owners: @paritytech/ci, @pepyakin, @tomusdrw, @andresilva, @sorpaas, @athei, @kianenigma, @shawntabrizi

docs/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @pepyakin) or email can be used. Keep in mind, that handles might work better because they
#   are more recognizable on GitHub, you can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.maintain/ @paritytech/ci
/.github/ @paritytech/ci
/.gitlab-ci.yml @paritytech/ci

# Sandboxing capability of Substrate Runtime
/primitives/sr-sandbox/ @pepyakin
/primitives/core/src/sandbox.rs @pepyakin

# Offchain
/client/offchain/ @tomusdrw
/primitives/offchain/ @tomusdrw

# GRANDPA, BABE, consensus stuff
/frame/babe/ @andresilva
/frame/grandpa/ @andresilva
/client/finality-grandpa/ @andresilva
/client/consensus/babe/ @andresilva
/client/consensus/slots/ @andresilva
/client/consensus/pow/ @sorpaas
/primitives/consensus/pow/ @sorpaas

# Contracts
/frame/contracts/ @athei

# NPoS and election
/frame/staking/ @kianenigma
/frame/elections/ @kianenigma
/frame/elections-phragmen/ @kianenigma
/primitives/npos-elections/ @kianenigma

# Fixed point arithmetic
/primitives/sp-arithmetic/ @kianenigma

# Transaction weight stuff
/frame/support/src/weights.rs @shawntabrizi

Impl tets wrong_rebag_is_noop
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/tests.rs
Owners: none

assert remove is a noop with bad data
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/tests.rs
Owners: none

Assert integrity test panics
  frame/bags-list/src/mock.rs
  frame/bags-list/src/tests.rs
Owners: none

Return an error when inserting duplicates
  frame/bags-list/src/benchmarks.rs
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/mock.rs
  frame/bags-list/src/tests.rs
  frame/bags-list/src/weights.rs
  frame/election-provider-support/src/lib.rs
  frame/staking/src/pallet/impls.rs
Owners: @kianenigma

Update to handle error in staking pallet when inserting to list
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/mock.rs
  frame/bags-list/src/tests.rs
  frame/bags-list/src/weights.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/pallet/mod.rs
Owners: @kianenigma

Test contains and on_insert error
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/mock.rs
  frame/bags-list/src/tests.rs
Owners: none

Test re-nominate does not mess up list or count
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/mock.rs
  frame/bags-list/src/tests.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/tests.rs
Owners: @kianenigma

Fix staking `rebond` weight refund
  frame/staking/src/pallet/mod.rs
Owners: @kianenigma

removed commented out code
  primitives/consensus/common/Cargo.toml
Owners: none

fixed deprecated method
  client/tracing/src/logging/event_format.rs
Owners: none

fix private event enum error message (#9506)
  frame/support/procedural/src/pallet/parse/event.rs
Owners: none

tests for auto database reopening
  Cargo.lock
  bin/node/bench/Cargo.toml
  bin/node/bench/src/tempdb.rs
  client/cli/src/commands/export_blocks_cmd.rs
  client/cli/src/commands/purge_chain_cmd.rs
  client/cli/src/config.rs
  client/db/Cargo.toml
  client/db/src/lib.rs
  client/db/src/parity_db.rs
  client/db/src/upgrade.rs
  client/db/src/utils.rs
  client/service/test/src/lib.rs
  test-utils/test-runner/src/lib.rs
  test-utils/test-runner/src/utils.rs
  utils/browser/src/lib.rs
Owners: none

Everything builds and works, only the benchmark...
  frame/bags-list/src/lib.rs
  frame/bags-list/src/list/mod.rs
  frame/bags-list/src/list/tests.rs
  frame/bags-list/src/make_bags.rs
  frame/bags-list/src/tests.rs
  frame/election-provider-support/src/lib.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/tests.rs
Owners: @kianenigma

introduce OpenDbError to cleanup opening database error handling and handle case when database is not enabled at the compile time
  client/db/src/upgrade.rs
  client/db/src/utils.rs
Owners: none

Gap epoch test
  client/consensus/epochs/src/lib.rs
  client/network/src/protocol/sync.rs
Owners: none

Gap sync
  bin/node-template/node/src/service.rs
  bin/node/cli/src/service.rs
  client/api/src/in_mem.rs
  client/authority-discovery/src/worker/tests.rs
  client/cli/src/commands/check_block_cmd.rs
  client/cli/src/commands/import_blocks_cmd.rs
  client/consensus/babe/src/aux_schema.rs
  client/consensus/babe/src/lib.rs
  client/consensus/epochs/src/lib.rs
  client/consensus/epochs/src/migration.rs
  client/db/src/lib.rs
  client/db/src/light.rs
  client/db/src/utils.rs
  client/finality-grandpa/src/authorities.rs
  client/finality-grandpa/src/import.rs
  client/finality-grandpa/src/warp_proof.rs
  client/informant/src/display.rs
  client/network/src/lib.rs
  client/network/src/protocol/sync.rs
  client/network/src/protocol/sync/warp.rs
  client/network/src/warp_request_handler.rs
  client/network/test/src/lib.rs
  client/network/test/src/sync.rs
  client/service/src/chain_ops/check_block.rs
  client/service/src/chain_ops/import_blocks.rs
  client/service/src/client/client.rs
  primitives/blockchain/src/backend.rs
  utils/fork-tree/src/lib.rs
Owners: @andresilva

Simplified network requests
  client/network/src/protocol.rs
  client/network/src/protocol/sync.rs
  client/network/src/protocol/sync/state.rs
  client/network/src/protocol/sync/warp.rs
  client/service/src/client/client.rs
Owners: none

Update client/db/src/utils.rs
  client/db/src/utils.rs
Owners: none

Fixed v1 migration and added some comments
  client/consensus/babe/src/aux_schema.rs
  client/consensus/babe/src/lib.rs
  client/consensus/epochs/src/lib.rs
  client/consensus/epochs/src/migration.rs
Owners: @andresilva

cargo fmt strings again
  client/db/src/upgrade.rs
Owners: none

cargo fmt strings again
  client/db/src/utils.rs
Owners: none

rename DataSettingsSrc to fix test compilation
  bin/node/testing/src/bench.rs
  client/service/test/src/client/mod.rs
Owners: none

fix the call to the new kvdb-rocksdb interdace in tests to fix compilation
  bin/node/bench/src/tempdb.rs
Owners: none

simplify OpenDbError and make it compile even when paritydb and rocksdb are disabled
  client/db/src/utils.rs
Owners: none

cargo fmt
  client/db/src/utils.rs
Owners: none

fix compilation without flag with-parity-db
  client/db/src/utils.rs
Owners: none

fix unused var compilation warning
  client/db/src/utils.rs
Owners: none

fuck yeah benchmarks
  frame/bags-list/src/benchmarks.rs
  frame/staking/src/pallet/impls.rs
Owners: @kianenigma

Add missing TypeInfo derives
  Cargo.lock
  primitives/trie/Cargo.toml
  primitives/trie/src/storage_proof.rs
Owners: none
